name: Building 
run-name: Building
on: [push]
jobs:
  Build-F4:
    runs-on: ubuntu-latest
    container:
      image: seajackal/hydrodrivers:latest
    steps:
      - uses: actions/checkout@v4
      - run: git submodeule update --init --recursive
      - run: cmake --preset DebugF4
      - run: cmake --build ./build
